<div class="row">
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
  <div class="col-sm-2 mt-3"><a href="/movies/123"><img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg"></a></div>
</div>