<div class="row mt-3">
  <div class="col-sm-6">
    <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/aHaVjVoXeNanfwUwQ92SG7tosFM.jpg">
  </div>
  <div class="col-sm-6">
    <h2>The Big Lebowski</h2>
    <p>Jeffrey "The Dude" Lebowski, a Los Angeles slacker who only wants to bowl
    and drink white Russians, is mistaken for another Jeffrey Lebowski, a 
    wheelchair-bound millionaire, and finds himself dragged into a strange 
    series of events involving nihilists, adult film producers, ferrets, errant 
    toes, and large sums of money.</p>
    <p><em>Released 1998</em></p>
  </div>
</div>